In [1]:
import pandas as pd
import requests
import matplotlib.pyplot as plt
import numpy as np
import xml.etree.ElementTree as ET

df_board_game_rankings = pd.read_csv('.\\.venv\\data\\boardgames_ranks.csv')
df_board_game_rankings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158945 entries, 0 to 158944
Data columns (total 16 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   158945 non-null  int64
 1   name                 158945 non-null  object
 2   yearpublished        158945 non-null  int64
 3   rank                 158945 non-null  int64
 4   bayesaverage         158945 non-null  float64
 5   average              158945 non-null  float64
 6   usersrated           158945 non-null  int64
 7   is_expansion         158945 non-null  int64
 8   abstracts_rank       1424 non-null    float64
 9   cgs_rank             362 non-null     float64
 10  childrensgames_rank  1073 non-null    float64
 11  familygames_rank     3314 non-null    float64
 12  partygames_rank      912 non-null     float64
 13  strategygames_rank   2992 non-null    float64
 14  thematic_rank        1671 non-null    float64
 15  wargames_rank        4311 non-null    float64
dtypes: float64(10), int64(5), object(1)
memory usage: 19.4+ MB

Filter out games with rank of 0

In [2]:
df_bgr2 = pd.read_csv('.\\.venv\\data\\boardgames_ranks.csv')
zerorank = df_bgr2[(df_bgr2['rank'] == 0)].index
df_bgr_nozero = pd.DataFrame(df_bgr2.drop(zerorank, inplace = True))
df_bgr2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27288 entries, 0 to 27287
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   27288 non-null  int64
 1   name                 27288 non-null  object
 2   yearpublished        27288 non-null  int64
 3   rank                 27288 non-null  int64
 4   bayesaverage         27288 non-null  float64
 5   average              27288 non-null  float64
 6   usersrated           27288 non-null  int64
 7   is_expansion         27288 non-null  int64
 8   abstracts_rank       1424 non-null   float64
 9   cgs_rank             362 non-null    float64
 10  childrensgames_rank  1073 non-null   float64
 11  familygames_rank     3314 non-null   float64
 12  partygames_rank      912 non-null    float64
 13  strategygames_rank   2992 non-null   float64
 14  thematic_rank        1671 non-null   float64
 15  wargames_rank        4311 non-null   float64
dtypes: float64(10), int64(5), object(1)
memory usage: 3.3+ MB

Grabbing top 300 overall rank from boardgames_ranks.csv

In [3]:
df_bgr2.loc[(df_bgr2['rank'] >=1) & (df_bgr2['rank'] <=300)]

,id,name,yearpublished,rank,bayesaverage,average,usersrated,is_expansion,abstracts_rank,cgs_rank,childrensgames_rank,familygames_rank,partygames_rank,strategygames_rank,thematic_rank,wargames_rank
0,224517,Brass: Birmingham,2018,1,8.41277,8.59213,48001,0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1,161936,Pandemic Legacy: Season 1,2015,2,8.37571,8.52498,54148,0,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN
2,174430,Gloomhaven,2017,3,8.34398,8.57972,63128,0,NaN,NaN,NaN,NaN,NaN,4.0,2.0,NaN
3,342942,Ark Nova,2021,4,8.33959,8.53505,46382,0,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN
4,233078,Twilight Imperium: Fourth Edition,2017,5,8.23662,8.59240,24556,0,NaN,NaN,NaN,NaN,NaN,5.0,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,27833,Steam,2009,296,7.19002,7.55062,10278,0,NaN,NaN,NaN,NaN,NaN,200.0,NaN,NaN
296,291572,Oath,2021,297,7.18841,7.79008,7749,0,NaN,NaN,NaN,NaN,NaN,210.0,80.0,NaN
297,204583,Kingdomino,2016,298,7.18824,7.30485,48576,0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,NaN
298,127060,Bora Bora,2013,299,7.18781,7.55639,10326,0,NaN,NaN,NaN,NaN,NaN,203.0,NaN,NaN
299,298047,Marvel United,2020,300,7.18643,7.57886,11181,0,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN

Replacing NaN with '0'

In [5]:
df_bgr2.fillna('0', inplace=True)
df_bgr2.head(10)

,id,name,yearpublished,rank,bayesaverage,average,usersrated,is_expansion,abstracts_rank,cgs_rank,childrensgames_rank,familygames_rank,partygames_rank,strategygames_rank,thematic_rank,wargames_rank
0,224517,Brass: Birmingham,2018,1,8.41277,8.59213,48001,0,0,0,0,0,0,1.0,0,0
1,161936,Pandemic Legacy: Season 1,2015,2,8.37571,8.52498,54148,0,0,0,0,0,0,2.0,1.0,0
2,174430,Gloomhaven,2017,3,8.34398,8.57972,63128,0,0,0,0,0,0,4.0,2.0,0
3,342942,Ark Nova,2021,4,8.33959,8.53505,46382,0,0,0,0,0,0,3.0,0,0
4,233078,Twilight Imperium: Fourth Edition,2017,5,8.23662,8.59240,24556,0,0,0,0,0,0,5.0,3.0,0
5,316554,Dune: Imperium,2020,6,8.23137,8.43403,47922,0,0,0,0,0,0,6.0,0,0
6,167791,Terraforming Mars,2016,7,8.20734,8.35483,101433,0,0,0,0,0,0,7.0,0,0
7,115746,War of the Ring: Second Edition,2011,8,8.19064,8.54570,22008,0,0,0,0,0,0,0,4.0,1.0
8,187645,Star Wars: Rebellion,2016,9,8.16964,8.41835,33163,0,0,0,0,0,0,0,5.0,0
9,291457,Gloomhaven: Jaws of the Lion,2020,10,8.15191,8.42294,35486,0,0,0,0,0,0,9.0,7.0,0

Converting rank fields to int.

In [6]:
convert_dict = {'abstracts_rank': int,
                'cgs_rank': int,
                'childrensgames_rank': int,
                'familygames_rank': int,
                'partygames_rank': int,
                'strategygames_rank': int,
                'thematic_rank': int,
                'wargames_rank': int}
df_bgr2 = df_bgr2.astype(convert_dict)
print(df_bgr2.dtypes)

id                       int64
name                    object
yearpublished            int64
rank                     int64
bayesaverage           float64
average                float64
usersrated               int64
is_expansion             int64
abstracts_rank           int64
cgs_rank                 int64
childrensgames_rank      int64
familygames_rank         int64
partygames_rank          int64
strategygames_rank       int64
thematic_rank            int64
wargames_rank            int64
dtype: object

In [7]:
df_bgr2.head(20)

,id,name,yearpublished,rank,bayesaverage,average,usersrated,is_expansion,abstracts_rank,cgs_rank,childrensgames_rank,familygames_rank,partygames_rank,strategygames_rank,thematic_rank,wargames_rank
0,224517,Brass: Birmingham,2018,1,8.41277,8.59213,48001,0,0,0,0,0,0,1,0,0
1,161936,Pandemic Legacy: Season 1,2015,2,8.37571,8.52498,54148,0,0,0,0,0,0,2,1,0
2,174430,Gloomhaven,2017,3,8.34398,8.57972,63128,0,0,0,0,0,0,4,2,0
3,342942,Ark Nova,2021,4,8.33959,8.53505,46382,0,0,0,0,0,0,3,0,0
4,233078,Twilight Imperium: Fourth Edition,2017,5,8.23662,8.59240,24556,0,0,0,0,0,0,5,3,0
5,316554,Dune: Imperium,2020,6,8.23137,8.43403,47922,0,0,0,0,0,0,6,0,0
6,167791,Terraforming Mars,2016,7,8.20734,8.35483,101433,0,0,0,0,0,0,7,0,0
7,115746,War of the Ring: Second Edition,2011,8,8.19064,8.54570,22008,0,0,0,0,0,0,0,4,1
8,187645,Star Wars: Rebellion,2016,9,8.16964,8.41835,33163,0,0,0,0,0,0,0,5,0
9,291457,Gloomhaven: Jaws of the Lion,2020,10,8.15191,8.42294,35486,0,0,0,0,0,0,9,7,0
10,162886,Spirit Island,2017,11,8.14533,8.34396,53527,0,0,0,0,0,0,10,0,0
11,220308,Gaia Project,2017,12,8.10852,8.37069,27905,0,0,0,0,0,0,8,0,0
12,12333,Twilight Struggle,2005,13,8.06464,8.24366,49353,0,0,0,0,0,0,13,0,2
13,182028,Through the Ages: A New Story of Civilization,2015,14,8.04992,8.27934,32227,0,0,0,0,0,0,11,0,0
14,193738,Great Western Trail,2016,15,8.01832,8.18564,41424,0,0,0,0,0,0,15,0,0
15,84876,The Castles of Burgundy,2011,16,8.01596,8.14192,63447,0,0,0,0,0,0,17,0,0
16,169786,Scythe,2016,17,7.98308,8.13502,85161,0,0,0,0,0,0,22,0,0
17,246900,Eclipse: Second Dawn for the Galaxy,2020,18,7.97833,8.44890,14252,0,0,0,0,0,0,14,0,0
18,173346,7 Wonders Duel,2015,19,7.97053,8.09413,97067,0,0,0,0,0,0,23,0,0
19,28720,Brass: Lancashire,2007,20,7.96312,8.19593,25338,0,0,0,0,0,0,18,0,0

Rounding averages to 2 digits.

In [8]:
df_bgr2.bayesaverage = df_bgr2.bayesaverage.round(2)
df_bgr2.average = df_bgr2.average.round(2)
df_bgr2.head(50)

,id,name,yearpublished,rank,bayesaverage,average,usersrated,is_expansion,abstracts_rank,cgs_rank,childrensgames_rank,familygames_rank,partygames_rank,strategygames_rank,thematic_rank,wargames_rank
0,224517,Brass: Birmingham,2018,1,8.41,8.59,48001,0,0,0,0,0,0,1,0,0
1,161936,Pandemic Legacy: Season 1,2015,2,8.38,8.52,54148,0,0,0,0,0,0,2,1,0
2,174430,Gloomhaven,2017,3,8.34,8.58,63128,0,0,0,0,0,0,4,2,0
3,342942,Ark Nova,2021,4,8.34,8.54,46382,0,0,0,0,0,0,3,0,0
4,233078,Twilight Imperium: Fourth Edition,2017,5,8.24,8.59,24556,0,0,0,0,0,0,5,3,0
5,316554,Dune: Imperium,2020,6,8.23,8.43,47922,0,0,0,0,0,0,6,0,0
6,167791,Terraforming Mars,2016,7,8.21,8.35,101433,0,0,0,0,0,0,7,0,0
7,115746,War of the Ring: Second Edition,2011,8,8.19,8.55,22008,0,0,0,0,0,0,0,4,1
8,187645,Star Wars: Rebellion,2016,9,8.17,8.42,33163,0,0,0,0,0,0,0,5,0
9,291457,Gloomhaven: Jaws of the Lion,2020,10,8.15,8.42,35486,0,0,0,0,0,0,9,7,0
10,162886,Spirit Island,2017,11,8.15,8.34,53527,0,0,0,0,0,0,10,0,0
11,220308,Gaia Project,2017,12,8.11,8.37,27905,0,0,0,0,0,0,8,0,0
12,12333,Twilight Struggle,2005,13,8.06,8.24,49353,0,0,0,0,0,0,13,0,2
13,182028,Through the Ages: A New Story of Civilization,2015,14,8.05,8.28,32227,0,0,0,0,0,0,11,0,0
14,193738,Great Western Trail,2016,15,8.02,8.19,41424,0,0,0,0,0,0,15,0,0
15,84876,The Castles of Burgundy,2011,16,8.02,8.14,63447,0,0,0,0,0,0,17,0,0
16,169786,Scythe,2016,17,7.98,8.14,85161,0,0,0,0,0,0,22,0,0
17,246900,Eclipse: Second Dawn for the Galaxy,2020,18,7.98,8.45,14252,0,0,0,0,0,0,14,0,0
18,173346,7 Wonders Duel,2015,19,7.97,8.09,97067,0,0,0,0,0,0,23,0,0
19,28720,Brass: Lancashire,2007,20,7.96,8.20,25338,0,0,0,0,0,0,18,0,0
20,167355,Nemesis,2018,21,7.95,8.26,31676,0,0,0,0,0,0,0,12,0
21,266507,Clank! Legacy: Acquisitions Incorporated,2019,22,7.95,8.53,9715,0,0,0,0,0,0,0,8,0
22,177736,A Feast for Odin,2016,23,7.94,8.17,29321,0,0,0,0,0,0,20,0,0
23,124361,Concordia,2013,24,7.94,8.09,41279,0,0,0,0,0,0,21,0,0
24,295770,Frosthaven,2022,25,7.91,8.82,7490,0,0,0,0,0,0,12,6,0
25,341169,Great Western Trail: Second Edition,2021,26,7.91,8.32,13616,0,0,0,0,0,0,19,0,0
26,205637,Arkham Horror: The Card Game,2016,27,7.90,8.13,43940,0,0,1,0,0,0,0,13,0
27,312484,Lost Ruins of Arnak,2020,28,7.90,8.07,46121,0,0,0,0,0,0,29,0,0
28,266192,Wingspan,2019,29,7.89,8.04,96444,0,0,0,0,2,0,40,0,0
29,120677,Terra Mystica,2012,30,7.89,8.06,48517,0,0,0,0,0,0,28,0,0
30,237182,Root,2018,31,7.88,8.07,53426,0,0,0,0,0,0,31,0,11
31,192135,Too Many Bones,2017,32,7.87,8.34,14068,0,0,0,0,0,0,24,10,0
32,164928,OrlÃ©ans,2014,33,7.87,8.06,32060,0,0,0,0,0,0,27,0,0
33,397598,Dune: Imperium â€“ Uprising,2023,34,7.86,8.74,6968,0,0,0,0,0,0,16,0,0
34,96848,Mage Knight Board Game,2011,35,7.85,8.09,33608,0,0,0,0,0,0,33,15,0
35,251247,Barrage,2019,36,7.85,8.16,18427,0,0,0,0,0,0,25,0,0
36,324856,The Crew: Mission Deep Sea,2021,37,7.84,8.13,18922,0,0,0,0,1,0,0,0,0
37,199792,Everdell,2018,38,7.84,8.02,56951,0,0,0,0,3,0,43,0,0
38,183394,Viticulture Essential Edition,2015,39,7.83,7.99,49809,0,0,0,0,0,0,39,0,0
39,366013,Heat: Pedal to the Metal,2022,40,7.80,8.05,26026,0,0,0,0,4,0,0,0,0
40,285774,Marvel Champions: The Card Game,2019,41,7.80,8.12,24370,0,0,3,0,0,0,0,0,0
41,175914,Food Chain Magnate,2015,42,7.80,8.06,20827,0,0,0,0,0,0,35,0,0
42,256960,Pax Pamir: Second Edition,2019,43,7.79,8.18,14722,0,0,0,0,0,0,32,0,0
43,247763,Underwater Cities,2018,44,7.78,8.06,20185,0,0,0,0,0,0,36,0,0
44,284378,Kanban EV,2020,45,7.77,8.42,8077,0,0,0,0,0,0,26,0,0
45,3076,Puerto Rico,2002,46,7.77,7.91,71574,0,0,0,0,0,0,47,0,0
46,521,Crokinole,1876,47,7.77,8.04,18501,0,0,0,0,5,0,0,0,0
47,295947,Cascadia,2021,48,7.76,7.94,41566,0,1,0,0,7,0,0,0,0
48,102794,Caverna: The Cave Farmers,2013,49,7.76,7.94,35251,0,0,0,0,0,0,44,0,0
49,185343,Anachrony,2017,50,7.75,8.07,19163,0,0,0,0,0,0,42,0,0

In [ ]:
tr